.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
cache/
data-raw/flights/
data-raw/airports.dat
data-raw/customer.csv
arxiv*
cover-letter/signature.png
tsibble.tex
*\.log
*\.aux
*\.bcf
*\.out
*\.knit.md
*\.utf8.md
/*.jpg
/*.png
copyright*
source*
